.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}
@media (min-width: 769px) and (max-width: 1215px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
  }
}
.coin-cell {
  margin: 10px;
  width: 90%;
  max-width: 425px;
}
.coin-cell:hover {
  /* offset x, offset y, blur raduis, spread radius */
  box-shadow: 0 0.5em 0.5em -0.4em rgb(36, 225, 96);
  transform: translateY(-0.25em);
}
.watchlist-msg {
  position: absolute;
  color: black;
  top: -25px;
  right: 20px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.watchlist-button:hover .watchlist-msg {
  opacity: 0.8;
  display: block;
}
.watchlist-icon {
  color: white;
  font-size: larger;
}
.watchlist-button {
  transition: opacity 0.2s, visibility 0.2s;
}
.watchlist-button:hover {
  opacity: 0.75;
}
