body {
  font-family: sans-serif;
  position: relative;
  padding-bottom: 6rem;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main-footer p {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: rgb(36, 225, 96);
  padding-top: 6px;
  width: 100%;
}
/*
.hero {
  background: black url(.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero {
    background: black url(jpg) center / cover;
  }
}
@media (max-width: 768px) {
  .hero {
    background: black url(.jpg) center / cover;
  }
}
*/
/* Auth form ------------------------------------------------*/
#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bulma navbar ------------------------------------------------*/
.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

/* Highcharts figure ------------------------------------------------*/

.highcharts-figure {
  height: 80%;
  width: 80%;
}
.card-image figure {
  display: flex;
  justify-content: center;
}
